<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <h3>Socket.io</h3>
    <input type="text" id="txtMessage" placeholder="Enter your message">
    <br><br>
    <button id="btnSend">Send Message</button>
    <ul id="ulMessage"></ul>
    </body>
    <script src="bundle.js"></script>
</html>